@import url('css/base.css');
@import url('css/login.css');
@import url('css/navbar.css');
@import url('css/sidebar.css');
@import url('css/dashboard.css');
@import url('css/laundry.css');
@import url('css/records.css');
@import url('css/users.css');
@import url('css/qr.css');
@import url('css/responsive.css');